<h1>Editing location</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :geonameid %><br />
    <%= f.text_field :geonameid %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :country_code %><br />
    <%= f.text_field :country_code %>
  </p>
  <p>
    <%= f.label :cc2 %><br />
    <%= f.text_field :cc2 %>
  </p>
  <p>
    <%= f.label :fipscode %><br />
    <%= f.text_field :fipscode %>
  </p>
  <p>
    <%= f.label :county %><br />
    <%= f.text_field :county %>
  </p>
  <p>
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>