<p>
  <h2>City GeonameId: <span style="color:red"><%=h @location.geonameid %></span> </h2>
</p>

<p>
  <b>City Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>State Code:</b>
  <%=h @location.fipscode %>
</p>

<p>
  <b>Country code:</b>
  <%=h @location.country_code %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @location.longitude %>
</p>


<p>
  <b>Population:</b>
  <%=h @location.population %>
</p>


<%= link_to 'Back', locations_path %>